fastapi
uvicorn
python-dotenv
python-multipart
requests
numpy
Pillow
opencv-python-headless
scikit-image
ultralytics>=8.3.0
git+https://github.com/ultralytics/CLIP.git
git+https://github.com/IDEA-Research/GroundingDINO.git
vtracer
pypotrace
gradio
pytest
huggingface_hub
