fastapi
uvicorn
python-dotenv
python-multipart
requests
numpy
Pillow
opencv-python-headless
scikit-image
ultralytics>=8.3.0
git+https://github.com/ultralytics/CLIP.git
transformers>=4.30,<4.48
timm
addict
yapf
supervision>=0.22.0
vtracer
pypotrace
gradio
pytest
huggingface_hub
